
.tc-c-severity {

  .tc-m-severity-low {
    color: var(--pf-v5-global--info-color--100);
  }

  .tc-m-severity-moderate {
    color: var(--pf-v5-global--warning-color--100);
  }

  .tc-m-severity-important {
    color: var(--pf-v5-global--danger-color--100);
  }

  .tc-m-severity-critical {
    color: var(--pf-v5-global--palette--purple-400);
  }

}