{{ if .Values.v11y.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: v11y-api
  labels:
    app.kubernetes.io/name: v11y-api
    app.kubernetes.io/component: api
    app.kubernetes.io/part-of: trustification
  annotations:
    service.beta.openshift.io/serving-cert-secret-name: v11y-api-tls
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: v11y-api
      app.kubernetes.io/component: api
      app.kubernetes.io/part-of: trustification
  template:
    metadata:
      labels:
        app.kubernetes.io/name: v11y-api
        app.kubernetes.io/component: api
        app.kubernetes.io/part-of: trustification
        metrics: "true"
      annotations:
        config/checksum: {{ include (print $.Template.BasePath "/config/020-ConfigMap.yaml") . | sha256sum }}
    spec:
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: v11y-storage
        - name: config
          configMap:
            name: {{ .Values.config.name }}
        {{ include "trustification.http-server-volumes" (dict "root" . "appName" "v11y-api") | nindent 8 }}
      containers:
        - image: {{ .Values.trustImage }}:{{ .Values.release }}
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          name: service
          command: ["/trust"]
          args:
            - "v11y"
            - "api"
            - "-p"
            - "8080"
            - "--auth-disabled"
            - "--storage-base"
            - "/data"
          env:
            - name: RUST_LOG
              value: {{ default "info" .Values.v11y.api.logLevel }}
            - name: STORAGE_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: "{{ .Values.v11y.credentials }}"
                  key: aws_access_key_id
            - name: STORAGE_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: "{{ .Values.v11y.credentials }}"
                  key: aws_secret_access_key
            - name: STORAGE_REGION
              value: "{{ .Values.region }}"
            - name: STORAGE_BUCKET
              value: "{{ .Values.v11y.bucket }}"
            {{ include "trustification.http-server" . | nindent 12 }}
            - name: INFRASTRUCTURE_ENABLED
              value: "true"
            - name: INFRASTRUCTURE_BIND
              value: "[::]:9010"
            - name: TRACING
              value: {{ default "disabled" .Values.v11y.api.tracing }}
          volumeMounts:
            - name: data
              mountPath: /data
            - mountPath: /etc/config
              name: config
            {{ include "trustification.http-server-volume-mounts" . | nindent 12 }}
          ports:
            - containerPort: 8080
              protocol: TCP
            - containerPort: 9010
              protocol: TCP
              name: infra
          resources:
            {{- toYaml .Values.v11y.api.resources | nindent 12 }}
          livenessProbe:
            httpGet:
              path: /health/live
              port: 9010
            initialDelaySeconds: 2
          readinessProbe:
            httpGet:
              path: /health/ready
              port: 9010
            initialDelaySeconds: 2
          startupProbe:
            httpGet:
              path: /health/startup
              port: 9010
{{ end }}
