version: '3'
services:
  keycloak:
    image: quay.io/keycloak/keycloak:20.0.0
    command: start-dev
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin123456
      - KEYCLOAK_DB=dev-file
    ports:
      - "8888:8888"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8888"]
      interval: 10s
      timeout: 5s
      retries: 5
  minio:
    image: quay.io/minio/minio:RELEASE.2023-05-04T21-44-30Z
    command: server --console-address ":9001" /data1
    depends_on:
      - kafka
    expose:
      - "9000"
      - "9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password
      MINIO_NOTIFY_KAFKA_ENABLE_EVENTBUS: on
      MINIO_NOTIFY_KAFKA_BROKERS_EVENTBUS: "kafka:9094"
      MINIO_NOTIFY_KAFKA_TOPIC_EVENTBUS: "stored"
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3

  createbuckets:
    image: docker.io/minio/mc
    depends_on:
      - minio
      - kafka
    entrypoint: >
      /bin/sh -c "
      /usr/bin/mc config host add myminio http://minio:9000 admin password;
      /usr/bin/mc mb myminio/bombastic || true;
      /usr/bin/mc policy download myminio/bombastic;
      /usr/bin/mc event add myminio/bombastic arn:minio:sqs::EVENTBUS:kafka --event put;
      /usr/bin/mc admin service restart myminio;"

     # /usr/bin/mc admin config set myminio/bombastic notify_kafka:EVENTBUS brokers="kafka:9094" topic="stored";
     # /usr/bin/mc admin service restart myminio/bombastic;
  kafka:
    image: docker.io/bitnami/kafka:3.4
    expose:
      - "9092"
    ports:
      - "9092:9092"
    environment:
      - BITNAMI_DEBUG=yes
      - KAFKA_ENABLE_KRAFT=yes
      - ALLOW_PLAINTEXT_LISTENER=yes
      - KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE=true
      - KAFKA_CFG_PROCESS_ROLES=broker,controller
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9094,CONTROLLER://:9093,EXTERNAL://:9092
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9094,EXTERNAL://localhost:9092
    healthcheck:
      test: ["CMD-SHELL", "kafka-topics.sh --bootstrap-server localhost:9094 --list"]
      interval: 30s
      timeout: 10s
      retries: 4
