// only required if you are using the icons-far or icons-fab feature
$fa-font-path: "webfonts";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../node_modules/@fortawesome/fontawesome-free/scss/brands";

// PatternFly styles
@import "../node_modules/@patternfly/patternfly/patternfly.scss";
@import "../node_modules/@patternfly/patternfly/patternfly-addons.scss";
