[package]
name = "spog-api"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0"

description = "An API server for trusted content"

[dependencies]
actix = "*"
actix-rt = "*"
actix-web = "4"
actix-web-httpauth = "0.8"
actix-web-extras = "0.1"
actix-ws = "*"
anyhow = "1"
derive_more = "0.99"
bytes = "1"
chrono = "0.4.23"
clap = { version = "4.0.29", features = ["derive"] }
csaf = "0.5"
env_logger = "0.10"
futures = "0.3"
guac = { workspace = true }
http = "*"
log = "0.4"
mime = "0.3.16"
okapi = "0.7.0-rc.1"
packageurl = { version = "0.3", features = ["serde"] }
prometheus = "0.13.3"
rand = "0.8"
reqwest = { version = "0.11.16", features = ["stream"] }
serde = { version = "1.0.152" }
serde_json = "1.0.89"
serde_yaml = "0.9"
snyk = { git = "https://github.com/dejanb/snyk-rs.git", branch = "main" }
thiserror = "1"
tracing = "0.1"
tokio = { version = "*", features = ["rt", "fs", "macros", "rt-multi-thread"] }
uuid = { version = "1", features = ["v4"] }
url = "2"
urlencoding = "2.1.2"
utoipa = { version = "3", features = ["actix_extras"] }
utoipa-swagger-ui = { version = "3", features = ["actix-web"] }
zstd = "0.12"

spog-model = { path = "../model" }
vexination-model = { path = "../../vexination/model" }
bombastic-model = { path = "../../bombastic/model" }

trustification-analytics = { path = "../../analytics" }
trustification-api = { path = "../../api" }
trustification-auth = { path = "../../auth", features = ["actix", "swagger"] }
collectorist-client = { path = "../../collectorist/client" }
trustification-common = { path = "../../common" }
trustification-infrastructure = { path = "../../infrastructure" }
v11y-client = { path = "../../v11y/client" }
trustification-version = { path = "../../version", features = ["actix-web"] }
async-recursion = "1.0.5"

[build-dependencies]
trustification-version = { path = "../../version", features = ["build"] }
